.common {
  color: #585858;
  line-height: 2;
  border-bottom: 1px solid #585858;
  padding: 0.1rem;
  text-decoration: none;
}

.common:hover {
  color: #0055a6;
  border-bottom-color: #0055a6;
}

.inlineAnchor {
  composes: common;
}

.iconText {
  composes: common;
  border-bottom: none;
}

.iconText::after {
  content: ">";
  padding-left: 2px;
}
